@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using KalbeShop.ViewModels
@model List<VMPenjualan>
@{
}
<div class="card">
    <div class="card-header">
        Penjualan
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-light" id="btnAdd">Add</button>

            <div class="input-group w-35">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon"><i class="fas fa-search"></i></span>
            </div>
        </div>
        <div>
            <table class="table table-hover align-middle mb-0 bg-white mt-4">
                <thead class="bg-primary text-white">
                    <tr>
                        @*<th>ID</th>*@
                        <th>SO ID</th>
                        <th class="text-center">Customer Name</th>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Date Order</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (VMPenjualan order in Model)
                    {
                        <tr>
                            @*<td>@order.Id</td>*@
                            <td>@order.IntSalesOrderId</td>
                            <td class="text-center">@order.TxtCustomerName</td>
                            <td class="text-center">@order.TxtProductName</td>
                            <td class="text-center">@order.DtSalesOrder</td>
                            <td class="text-center">@order.IntQty</td>
                            <td>
                                <button class="btn btn-success btnEdit" data-dataid="@order.IntSalesOrderId" type="button">Edit</button>
                                <button class="btn btn-danger btnDelete" data-dataid="@order.IntSalesOrderId" type="submit"><i class="fas fa-trash-alt"></i> Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            $("#MyModalBody").load("/Penjualan/Add");
            $("#MyModal").modal("show");
        });

        $("#btnFind").click(function () {
            $("#frmFind").submit();
        });

        $(".btnEdit").click(function () {
            var customerid = $(this).data("dataid");
            $("#MyModalBody").load("/Penjualan/Edit?customerid=" + customerid);
            $("#MyModal").modal("show");
        });

        $(".btnDelete").click(function () {
            var customerid = $(this).data("dataid");
            debugger;
            $("#MyModalBody").load("/Customer/Delete?customerid=" + customerid);
            $("#MyModal").modal("show");
        });
    });
</script>